@charset "utf-8";
/* 你自己的样式 */
.header{
    width: 100%;
    height: 60px;
    background: #426374;
    line-height: 60px;
    text-align:center;
}
#loginform{
    padding-top:0px;
    height:30rem;
}
.outrepsd{
    color:red;
    display:none;
}
.outuser{
    color:red;
    display:none;
}
.outpsd{
    display:none;
    color:red;
}
.border{
    border-color: red;
}
.show{
    display:block;
}
.hide{
    display:none;
}
.err{
    color:red;
}